/*----GENERAL SETTINGS----*/
* , ::before , ::after{
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: sans-serif;
}

/*----HEADER SECITON----*/
.header{
    height: 100vh;
}

.header__image-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.header__image-container::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.header__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__nav-bar{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.header__logo-container{
    width: 70px;
}

.header__logo{
    width: 100%;
    display: inline-block;
}

.header__nav-list{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 15px;
    padding-right: 50px;
}

.header__nav-link{
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 2px;
    color: #fff;
    display: inline-block;
}