/*----GENERAL SETTINGS----*/
* , ::before , ::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #eee8;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*----HEADER SECITON----*/
.header{
    height: 100vh;
    color: #fff;
    position: relative;
}

.header__image-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.header__image-container::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.header__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title-container{
    position: relative;
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
    padding: 20px;
    width: 70vw;
}

h1{
    display: inline-block;
    margin: 0;
    font-size: 3rem;
    width: 100%;
    letter-spacing: 3px;
    text-wrap: balance;
    position: relative;
    transition: color 0.9s ;
}

h1::after{
    display: inline-block;
    content: "En ADFJ University, tu talento se convierte en éxito. Prepárate para dejar huella en el mundo.";
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fffa;
    transition: color 0.9s ;
    overflow-wrap: break-word;
    margin-top: 5px;
}

h1:hover{
    color: #f80;
}

h1:hover::after{
    color: #fff;
}

.header__navbar{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header__logo-container{
    width: 70px;
}

.header__logo{
    width: 100%;
    display: inline-block;
}

.header__nav-list{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 15px;
    text-align: center;
}

.header__nav-link{
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 2px;
    color: #fff;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease;
    text-align: center;
}

.header__nav-link:hover{
    color: #f80;
}

.header__nav-link::before{
    content: "";
    position: absolute;
    background: linear-gradient(#fff 00) center/ 0 100%  no-repeat;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
}

.header__nav-link:hover::before{
    animation: animate-border 0.5s ease infinite alternate both;
}
/*----HEADER ENDS----*/

/*----ABOUT SECTION----*/
.main{
    width: 75%;
    margin: auto;
    min-height: 100vh;
    border: px solid #000;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main--subtitle{
    font-weight: 100;
    font-size: 2rem;
    padding: 15px 0;
    width: 250px; 
    border-bottom: 1px solid currentColor;
    text-transform: uppercase;
}

h2{
    text-transform: capitalize;
    letter-spacing: 2px;
}

.about__container{
    display: flex;
    gap: 45px;
    background-color: transparent;
}

.about__mision , .about__vision{
    border: px solid #f00;
    width: 50%;
    border-radius: 6px ;
    background-color: #fff;
    box-shadow: 0 0 20px #0002;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-grow: 1;
}

.text-about{
    padding: 15px;
}
/*----ABOUT ENDS----*/


/*----ANIMACIONES----*/
@keyframes animate-border{
    from{
        background-size: 0 100%;
    }

    to{
        background-size: 100% 100%;
    }
}